{$data['plan_id']}

<section id="content">
    <link href="__PUBLIC__/css/admin/test.css">
    <div class="page page-fullwidth-layout">
        <div class="pageheader">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a href="{:url('/admin')}"><i class="fa fa-home"></i> 起始页</a>
                    </li>
                    <li>
                        广告计划
                    </li>
                    <li>
                        修改广告计划
                    </li>
                </ul>
            </div>
        </div>
        <div class="pagecontent">
            <div class="add-nav">
                <div class="nav-heading">

                    <h3>修改广告计划 </h3>
                    <span class="controls pull-right">
                        <a href="{:url($data.module_url)}" class="btn btn-ef btn-ef-1 btn-ef-1-default btn-ef-1a btn-rounded-20 mr-5" data-toggle="tooltip" title="返回"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                    </span>
                </div>

                <div class="row">

                    <div class="col-md-12">

                        <section class="tile">

                            <div class="tile-header dvd dvd-btm">
                                <h1 class="custom-font"><strong>修改广告计划</strong> </h1>
                            </div>

                            <div class="tile-body">
                                <form role="form" enctype="multipart/form-data" action="{:url($data.module_url).'update'}" method="post">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label>广告计划名称</label>
                                            <input type="text" class="form-control " name="name" value="{$data.name}">
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            广告计划链接<br><br>
                                            <label onclick="fun_3()"> 手动<input type="radio" name="aa"  value="手动" checked> </label><br>
                                            <label onclick="fun_4()">上传<input type="radio" name="aa"  value="上传"></label><br><br>
                                            <input id="shoudong" type="text" value="{$p_lianjie}" name="p_lianjie" class="form-control"><br>
                                            <input id="shangchuan" type="file" name="p_lianjie"  style="display: none"><br>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label>尺寸</label>
                                            <input type="text" class="form-control " style="width:220px; " value="{$data.plan_width}" name="plan_width" placeholder="宽度">
                                            <input type="text" class="form-control " style="width:220px; " value="{$data.plan_height}" name="plan_height" placeholder="高度">
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label>开始时间</label>
                                            <input type="text" class="form-control layui-input" id="start_time" value="{$data.start_time}" name="start_time" placeholder="选择开始时间">
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label>结束时间</label>
                                            <input type="text" class="form-control layui-input" id="end_time" value="{$data.end_time}" name="end_time" placeholder="选择结束时间">
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label>广告条数限制</label>
                                            <input type="number" class="form-control " name="limit" value="{$data.limit}" placeholder="请输入限制条数">
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label>计划展示状态</label>
                                            <select  class="selectpicker" name="status">
                                                <option value="1" {$data.status==1?'selected="selected"':'';}>展示</option>
                                                <option value="2" {$data.status==2?'selected="selected"':'';}>隐藏</option>
                                            </select>
                                        </div>
                                    </div>
                                    <input type="hidden" name="plan_id" value="{$data.plan_id}">
                                    <button class="btn btn-lg btn-primary" type="submit"><i class="glyphicon glyphicon-ok"></i>&nbsp;提交</button>
                                </form>
                            </div>

                        </section>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function fun_3() {
            var shoudong = document.getElementById('shoudong')
            var shangchuan = document.getElementById('shangchuan')
            shoudong.style.display="block";
            shangchuan.style.display="none";
        }
        function fun_4() {
            var shoudong = document.getElementById('shoudong')
            var shangchuan = document.getElementById('shangchuan')
            shoudong.style.display="none";
            shangchuan.style.display="block";
        }
        laydate.render({
            elem: '#start_time', //指定元素
//            format: 'YYYY/MM/DD',
//            istime: false, //是否显示分钟
//            istoday: true //是否显示今天
        });
        laydate.render({
            elem: '#end_time', //指定元素
        });


    </script>
</section>

